<div style="margin-top: 200px;" >
    <form [formGroup]='registerForm' (ngSubmit)="onSubmit()">
   
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<app-formservice [formControl]='registerForm.controls["username"]' 
[label]='"Username"'></app-formservice>
<app-formservice [formControl]='registerForm.controls["password"]' 
[label]='"password"'></app-formservice>
<app-formservice [formControl]='registerForm.controls["confirmPassword"]' 
[label]='"Confirm Password"'></app-formservice>
<div> {{registerForm.value | json}}</div>
<div> {{registerForm.status | json}}</div>